$color--white: #ffffff;
$color--whitesmoke: #f2f2f2;
$color--siver: #e0e0e0;
$color--light-grey: #374046;
$color--dark-grey: #171c24;
$color--soft-black: #141414;
$color--red: #D32F2F;
$color--bright-red: #e2192d;
/* SCROLL TO TOP ----------------------------------------------------------------------------*/
.scroll-top
{
    position: fixed;
    z-index: 1001;
    width: 50px;
    height: 50px;
    // background: linear-gradient(transparent, #0162c8, #55e7fc);
    background: $color--red;
    bottom: 40px;
    right: 50px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: $color--siver;
    font-size: 22px;
    border-radius: 100%;
    opacity: 80%;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    transform: rotate(45deg);
    opacity: 50% !important;
}
.scroll-top.scroll-top-sticky
{
    visibility: visible;
    opacity: 1;
}
.scroll-top:hover
{
    background: $color--bright-red;
    transform: scale(1.05);
    opacity: 80% !important;
    a 
    {
        color: whitesmoke;
    }
}
.scroll-top-icon
{
    color: white;
    cursor: url(img/mouse-pointer.png), pointer;
}