$color--white: #ffffff;
$color--whitesmoke: #f2f2f2;
$color--siver: #e0e0e0;
$color--light-grey: #374046;
$color--dark-grey: #171c24;
$color--soft-black: #141414;
$color--red: #D32F2F;
.all-product
{
    background: url('/assets/img/background/1.jpg');
    border-radius: 10px;
    margin-bottom: 10px;
    .all-product__contain
    {
        display: flex;
        justify-content: space-around;
        .all-product__wrap
        {
            padding: 0;
            // margin: 0 10px;
            .all-product__wrap__title
            {
                display: flex !important;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;
                border-left: 5px solid $color--whitesmoke;
                h1 
                {
                    width: fit-content;
                    margin: 0 10px;
                   /*GRADIENT TEXT*/
                    background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
                    background-size: 400%;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    animation: animate 10s linear infinite;
                    @keyframes animate {
                        to{
                          background-position: 400%;
                        }
                      }
                }
                p 
                {
                    margin: 0 10px;
                    width: fit-content;
                    font-size: 14px;
                    color: $color--whitesmoke;
                    transition: 0.3s;
                    &:hover
                    {
                        color: $color--white;
                    }
                }
            }
            .all-product__item
            {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                padding: 20px;
                a 
                {
                    width: 100px;
                    height: 100px;
                    text-align: center;
                    margin-right: 10px;
                    margin-top: 40px;
                    margin-bottom: 50px;
                    color: $color--whitesmoke;
                    font-weight: 500;
                    p 
                    {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        // &:hover
                        // {
                        //     overflow: visible;
                        //     text-overflow: clip;
                        //     white-space: normal;
                        // }
                    }
                    img 
                    {
                        width: 100%;
                        height: 100%;
                        transition: 0.3s;
                        &:hover 
                        {
                            transform: scale(1.1);
                        }
                    }
                    span 
                    {
                        font-size: 12px;
                        color: $color--whitesmoke;
                    }
                }
            }
        }
    }
}

