.all-product {
  background: url("/assets/img/background/1.jpg");
  border-radius: 10px;
  margin-bottom: 10px; }
  .all-product .all-product__contain {
    display: flex;
    justify-content: space-around; }
    .all-product .all-product__contain .all-product__wrap {
      padding: 0; }
      .all-product .all-product__contain .all-product__wrap .all-product__wrap__title {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        border-left: 5px solid #f2f2f2; }
        .all-product .all-product__contain .all-product__wrap .all-product__wrap__title h1 {
          width: fit-content;
          margin: 0 10px;
          /*GRADIENT TEXT*/
          background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
          background-size: 400%;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          animation: animate 10s linear infinite; }
@keyframes animate {
  to {
    background-position: 400%; } }
        .all-product .all-product__contain .all-product__wrap .all-product__wrap__title p {
          margin: 0 10px;
          width: fit-content;
          font-size: 14px;
          color: #f2f2f2;
          transition: 0.3s; }
          .all-product .all-product__contain .all-product__wrap .all-product__wrap__title p:hover {
            color: #ffffff; }
      .all-product .all-product__contain .all-product__wrap .all-product__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 20px; }
        .all-product .all-product__contain .all-product__wrap .all-product__item a {
          width: 100px;
          height: 100px;
          text-align: center;
          margin-right: 10px;
          margin-top: 40px;
          margin-bottom: 50px;
          color: #f2f2f2;
          font-weight: 500; }
          .all-product .all-product__contain .all-product__wrap .all-product__item a p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .all-product .all-product__contain .all-product__wrap .all-product__item a img {
            width: 100%;
            height: 100%;
            transition: 0.3s; }
            .all-product .all-product__contain .all-product__wrap .all-product__item a img:hover {
              transform: scale(1.1); }
          .all-product .all-product__contain .all-product__wrap .all-product__item a span {
            font-size: 12px;
            color: #f2f2f2; }
